.root {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ff8989;
  font-weight: 700;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
}
.rootisEmpty {
  opacity: 0;
}
