.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 12px 20px;
  border-bottom: 1px solid var(--token-GT3Ewogw5DWgo);
}
.rootisSelected {
  background: var(--token-GT3Ewogw5DWgo);
}
.rootisFirstRow {
  border-bottom-width: 1px;
  border-bottom-color: var(--token-GT3Ewogw5DWgo);
  border-top: 1px solid var(--token-GT3Ewogw5DWgo);
}
.freeBox__jy49O {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 0;
}
.freeBox__lbV7J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100px;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
}
