.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ThnFxYwNOaz4P);
  position: relative;
  min-width: 0;
  padding: 8px 20px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 20px;
}
.text {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Iceland";
  font-size: 30px;
  color: #ffffff;
  min-width: 0;
}
