.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 0px 60px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox__wFFs9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__wFFs9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__wFFs9 > :global(.__wab_flex-container) > *,
.freeBox__wFFs9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wFFs9 > :global(.__wab_flex-container) > picture > img,
.freeBox__wFFs9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox___8Tr6E {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.text__cUiys {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Indie Flower";
  font-size: 60px;
  line-height: 1.5;
  min-width: 0;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 700px) {
  .img {
    max-width: 400px;
  }
}
.freeBox__wrEd8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg__cwMa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__m09Xo {
  font-size: 20px;
  text-decoration-line: underline;
}
.freeBox__tc74K {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__tc74K > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__tc74K > :global(.__wab_flex-container) > *,
.freeBox__tc74K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tc74K > :global(.__wab_flex-container) > picture > img,
.freeBox__tc74K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__gJ7Hc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__hS2Be {
  padding-left: 0px;
  font-size: 18px;
  text-decoration-line: underline;
  align-self: flex-end;
}
@media (min-width: 700px) {
  .text__hS2Be {
    font-size: 16px;
  }
}
.separator:global(.__wab_instance) {
  position: relative;
}
.freeBox__dg52T {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__dg52T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__dg52T > :global(.__wab_flex-container) > *,
.freeBox__dg52T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dg52T > :global(.__wab_flex-container) > picture > img,
.freeBox__dg52T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__hEwy6 {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  min-width: 0;
}
.options {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.options > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.options > :global(.__wab_flex-container) > *,
.options > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.options > :global(.__wab_flex-container) > picture > img,
.options
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.event:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.menuItem:global(.__wab_instance) {
  max-width: 100%;
  display: flex;
}
.contentfulRichText:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.cartButton:global(.__wab_instance) {
  position: fixed;
  top: auto;
  left: auto;
  bottom: 14px;
  right: 20px;
  z-index: 1;
}
