.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: var(--token-kVCuj439vJX4L);
  min-width: 0;
  padding: 8px;
}
.rooteven {
  background: #ffffff;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-style: solid;
  border-color: var(--token-GT3Ewogw5DWgo);
}
.freeBox__sv7Tj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__tPsW5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__tPsW5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__tPsW5 > :global(.__wab_flex-container) > *,
.freeBox__tPsW5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tPsW5 > :global(.__wab_flex-container) > picture > img,
.freeBox__tPsW5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.freeBox___8HMms {
  width: auto;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
}
.slotTargetIndex {
  font-weight: 700;
}
.text___8BjoR {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__bAMb3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__ndMl6 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ndMl6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__ndMl6 > :global(.__wab_flex-container) > *,
.freeBox__ndMl6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ndMl6 > :global(.__wab_flex-container) > picture > img,
.freeBox__ndMl6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.slotTargetPrice {
  font-weight: 600;
  color: #535353;
}
.optionValues {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 16px;
}
.optionValues > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.optionValues > :global(.__wab_flex-container) > *,
.optionValues > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.optionValues > :global(.__wab_flex-container) > picture > img,
.optionValues
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__zwko6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__rvi0T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__i53 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.quantity:global(.__wab_instance) {
  max-width: 100%;
}
