.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__dK8WR {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxisEmpty__dK8WRyqkGv {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}
.text__w92Vj {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #e7e7e7;
  font-size: 20px;
  font-weight: 700;
  min-width: 0;
  display: none;
}
.textisEmpty__w92VjyqkGv {
  display: block;
}
.freeBox__unGtd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 200px;
  min-width: 0;
}
.lineItems {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 0px;
}
.lineItems > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.lineItems > :global(.__wab_flex-container) > *,
.lineItems > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.lineItems > :global(.__wab_flex-container) > picture > img,
.lineItems
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.lineItemsisEmpty {
  display: none;
}
.shoppingCartLineItem__tSkQ:global(.__wab_instance) {
  position: relative;
}
.shoppingCartLineItem__fCQA:global(.__wab_instance) {
  position: relative;
}
.shoppingCartLineItem__trP6:global(.__wab_instance) {
  position: relative;
}
.freeBox__avSb {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  box-shadow: 0px -2px 16px 0px #00000033;
  min-width: 0;
  padding: 8px;
}
.freeBox__bZiN9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxisEmpty__bZiN9YqkGv {
  display: none;
}
.text__riere {
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
}
.freeBox___6PIpe {
  width: auto;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.slotTargetTotalPrice {
  font-size: 20px;
  text-align: center;
}
.freeBox__dhXtS {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 20px;
}
.freeBoxisEmpty__dhXtSyqkGv {
  align-items: center;
  justify-content: center;
}
.backBtn:global(.__wab_instance) {
  max-width: 100%;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___3T3Dd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.checkoutBtn:global(.__wab_instance) {
  max-width: 100%;
}
.checkoutBtnisEmpty:global(.__wab_instance) {
  display: none;
}
.svg__kfdZs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__djAh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
