.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___2IyZm {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxisEmpty___2IyZm7Xt6O {
  display: flex;
}
.text__wGvA {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #e7e7e7;
  font-size: 20px;
  font-weight: 700;
  min-width: 0;
  display: none;
}
.textisEmpty__wGvA7Xt6O {
  display: block;
}
.freeBox___7U9Bb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxisEmpty___7U9Bb7Xt6O {
  display: none;
}
.lineItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 0px;
}
.lineItems > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.lineItems > :global(.__wab_flex-container) > *,
.lineItems > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.lineItems > :global(.__wab_flex-container) > picture > img,
.lineItems
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.shoppingCartLineItem___4Dhpx:global(.__wab_instance) {
  position: relative;
}
.shoppingCartLineItem__oyfOz:global(.__wab_instance) {
  position: relative;
}
.shoppingCartLineItem__ilfho:global(.__wab_instance) {
  position: relative;
}
.freeBox__ykaXx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  box-shadow: none;
  background: #ffffff;
  bottom: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__ykaXx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__ykaXx > :global(.__wab_flex-container) > *,
.freeBox__ykaXx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ykaXx > :global(.__wab_flex-container) > picture > img,
.freeBox__ykaXx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__jyRmg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__bdrZd {
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
}
.freeBox__ozBb8 {
  width: auto;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.slotTargetTotalPrice {
  font-size: 20px;
  text-align: center;
}
.invalidData {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-A2_corQeQXhDp);
  min-width: 0;
}
.freeBox__mqfv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.freeBox__mqfv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__mqfv > :global(.__wab_flex-container) > *,
.freeBox__mqfv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mqfv > :global(.__wab_flex-container) > picture > img,
.freeBox__mqfv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__hITsI {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  min-width: var(--token-BKeQBnzBy);
  font-size: 14px;
}
.nameInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ivHve {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__pKum {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__kIt60 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.freeBox__kIt60 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__kIt60 > :global(.__wab_flex-container) > *,
.freeBox__kIt60 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kIt60 > :global(.__wab_flex-container) > picture > img,
.freeBox__kIt60
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBoxisAdmin__kIt60BaKz0 {
  display: none;
}
.text__voMEq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  min-width: var(--token-BKeQBnzBy);
  font-size: 14px;
}
.emailInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___7D3Ba {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__tEEuM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__kHqHn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.freeBox__kHqHn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__kHqHn > :global(.__wab_flex-container) > *,
.freeBox__kHqHn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kHqHn > :global(.__wab_flex-container) > picture > img,
.freeBox__kHqHn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBoxisAdmin__kHqHNbaKz0 {
  display: none;
}
.text___7LjbN {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  min-width: var(--token-BKeQBnzBy);
  font-size: 14px;
}
.addressInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wapdg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__kd1Ug {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__xrZj6 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.freeBox__xrZj6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__xrZj6 > :global(.__wab_flex-container) > *,
.freeBox__xrZj6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xrZj6 > :global(.__wab_flex-container) > picture > img,
.freeBox__xrZj6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBoxisAdmin__xrZj6BaKz0 {
  display: none;
}
.text__agWj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  min-width: var(--token-BKeQBnzBy);
  font-size: 14px;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__hgvG {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__sLuvP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__t7DLq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.freeBox__t7DLq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__t7DLq > :global(.__wab_flex-container) > *,
.freeBox__t7DLq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t7DLq > :global(.__wab_flex-container) > picture > img,
.freeBox__t7DLq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBoxisAdmin__t7DLqbaKz0 {
  display: none;
}
.text__plh5K {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  min-width: 90px;
  font-size: 14px;
}
.complementoInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__la6TT {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___22Wq2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__xs0Ds {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.freeBox__xs0Ds > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__xs0Ds > :global(.__wab_flex-container) > *,
.freeBox__xs0Ds > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xs0Ds > :global(.__wab_flex-container) > picture > img,
.freeBox__xs0Ds
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBoxisAdmin__xs0DsbaKz0 {
  display: none;
}
.text__b3D8X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  min-width: 90px;
  font-size: 14px;
}
.bairroInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fbe3L {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xzuI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__rwAk0 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.freeBox__rwAk0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__rwAk0 > :global(.__wab_flex-container) > *,
.freeBox__rwAk0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rwAk0 > :global(.__wab_flex-container) > picture > img,
.freeBox__rwAk0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBoxisAdmin__rwAk0BaKz0 {
  display: none;
}
.text__pxMmG {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  min-width: 90px;
  font-size: 14px;
}
.cityInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__rZlsc {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.freeBox__rZlsc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__rZlsc > :global(.__wab_flex-container) > *,
.freeBox__rZlsc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rZlsc > :global(.__wab_flex-container) > picture > img,
.freeBox__rZlsc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBoxisAdmin__rZlscbaKz0 {
  display: none;
}
.text__clar {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  min-width: 90px;
  font-size: 14px;
}
.entregaInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__s4Ns9 {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 10px;
}
.freeBox__s4Ns9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__s4Ns9 > :global(.__wab_flex-container) > *,
.freeBox__s4Ns9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s4Ns9 > :global(.__wab_flex-container) > picture > img,
.freeBox__s4Ns9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBoxisAdmin__s4Ns9BaKz0 {
  display: flex;
}
.text__kOb1Q {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  min-width: 50px;
  font-size: 14px;
}
.textisAdmin__kOb1QbaKz0 {
  min-width: 150px;
}
.freeBox__uoz1Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBoxisAdmin__uoz1ZbaKz0 {
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.paymentInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.option:global(.__wab_instance) {
  position: relative;
}
.freeBox__t6Fu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.backBtn:global(.__wab_instance) {
  max-width: 160px;
  width: 100%;
  min-width: 0;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__zYd5 {
  font-size: 14px;
}
.svg__fEo5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.checkoutBtn:global(.__wab_instance) {
  max-width: 160px;
  width: 100%;
  min-width: 0;
}
.svg__grJmL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nUFh {
  font-size: 14px;
}
.svg___8M0RO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.loading:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: fixed;
  min-width: 0;
  min-height: 0;
}
