.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.contentfulFetcher:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.freeBox__t5NS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token---wRfAfgK);
  min-width: 0;
  padding: 8px;
}
.freeBox__vamCt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__mLb7K {
  font-size: 20px;
  color: var(--token-9MkmzesVuXPDf0);
  font-weight: 700;
}
.back {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-height: 0;
  padding: 8px;
}
.svg__oDfUv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9MkmzesVuXPDf0);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.text__jphdh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  min-width: 0;
}
.freeBox__cw7B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__cw7B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__cw7B > :global(.__wab_flex-container) > *,
.freeBox__cw7B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cw7B > :global(.__wab_flex-container) > picture > img,
.freeBox__cw7B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.freeBox___6Pw6B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.addItemOption:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.scrollSpace:global(.__wab_instance) {
  position: relative;
}
.footer {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  z-index: 1;
  box-shadow: 0px -2px 16px 0px #00000033;
  bottom: 0px;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.freeBox__eJscO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__sSerp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  font-size: 18px;
}
.freeBox__cQd1X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.slotTargetTotal {
  font-size: 18px;
  font-weight: 600;
}
.selectedOptionValues {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 20px;
}
.selectedOptionValues > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.selectedOptionValues > :global(.__wab_flex-container) > *,
.selectedOptionValues
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.selectedOptionValues > :global(.__wab_flex-container) > picture > img,
.selectedOptionValues
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__axdVo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__fshV5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__aBsuh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
