.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 0px 40px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 5px;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
  max-width: 100%;
  position: relative;
  background: #0091ff;
  margin-top: calc(0px + 5px) !important;
  margin-right: 0px;
  margin-left: 0px;
  display: none;
  padding: 16px;
}
.freeBox__bec60 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__bec60 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__bec60 > :global(.__wab_flex-container) > *,
.freeBox__bec60 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bec60 > :global(.__wab_flex-container) > picture > img,
.freeBox__bec60
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.img__b9Nq {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__b9Nq > picture > img {
  object-fit: contain;
}
.img__b9Nq > .__wab_img-spacer > img {
  object-fit: contain;
}
.text__rVvjr {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Iceland";
  font-size: 30px;
  color: #ffffff;
  min-width: 0;
}
.img___7Lbe0 {
  object-fit: cover;
}
.img___7Lbe0 > picture > img {
  object-fit: cover;
}
.img___7Lbe0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.link__pr2HP {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link___0S9RC {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link__jMcon {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__fhZpR {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #0091ff;
  min-width: 0;
  padding: 8px 20px;
}
.freeBox__fhZpR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__fhZpR > :global(.__wab_flex-container) > *,
.freeBox__fhZpR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fhZpR > :global(.__wab_flex-container) > picture > img,
.freeBox__fhZpR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.img__u2Lfr {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__u2Lfr > picture > img {
  object-fit: contain;
}
.img__u2Lfr > .__wab_img-spacer > img {
  object-fit: contain;
}
.text__s5ZB {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Iceland";
  font-size: 30px;
  color: #ffffff;
  min-width: 0;
}
.freeBox__wFFs9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wFFs9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__wFFs9 > :global(.__wab_flex-container) > *,
.freeBox__wFFs9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wFFs9 > :global(.__wab_flex-container) > picture > img,
.freeBox__wFFs9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox___8Tr6E {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__cUiys {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Indie Flower";
  font-size: 40px;
  line-height: 1;
  min-width: 0;
}
.freeBox__oA6X {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__jUbgn {
  color: #13b3ba;
  font-size: 12px;
}
@media (min-width: 641px) {
  .text__jUbgn {
    font-size: 16px;
  }
}
.text__kmZ1 {
  padding-left: 0px;
  font-size: 12px;
}
@media (min-width: 641px) {
  .text__kmZ1 {
    font-size: 16px;
  }
}
.text__w224C {
  font-size: 12px;
  width: auto;
}
@media (min-width: 641px) {
  .text__w224C {
    font-size: 16px;
  }
}
.img___9EB9B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img___9EB9B > picture > img {
  object-fit: cover;
}
.img___9EB9B > .__wab_img-spacer > img {
  object-fit: cover;
}
.separator__veGxi:global(.__wab_instance) {
  position: relative;
}
.text__hEwy6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.orderItem__hq7V5:global(.__wab_instance) {
  position: relative;
}
.orderItem__hjyHf:global(.__wab_instance) {
  position: relative;
}
.separator__elFUv:global(.__wab_instance) {
  position: relative;
}
.freeBox__waueD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__lNoFu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__t1Vgb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___8KfTg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
